                        @media only screen and (min-width: 1024px) {
                            /*-----Body -----*/
                            body {
                                font-size: 16px;
                                font-family: 'Crete Round', serif;
                                font-weight: 300;
                                color: black;
                               background-image: url("https://i.imgur.com/M3CnpB8.jpg");
                                background-size: 100%;

                            }

                            .site-header {
                                background: #y89a236;
                                color: white;
                                display: flex;
                                align-items: center;
                            }
                            /* NAVIGATION  */
                            .navigation {
                                display: flex;
                                flex-flow: row wrap;
                                /* This aligns items to the end line on main-axis */
                                justify-content: flex-end;
                            }
                            /* MAIN  */
                            /* Parte que agregue, veamos si funciona  */
                            main.gallerycontainer {
                                width: 97vw;
                                grid-template-columns: repeat(1, 1fr);
                                grid-gap: 1vw;
                            }
                            main.gallerycontainer figure:hover {
                                box-shadow: 10px 10px 10px #a2a0bb;
                            }
                            /* Parte que agregue, veamos si funciona  */
                            main {
                                min-height: 5em;
                            }
                            main h1 {
                                font-size: 2rem;
                                font-weight: 400;
                                padding: 1rem 0 0 2%;
                                margin: 2px;
                                color: #89a236;
                            }
                            main h2 {
                                font-size: 1.5rem;
                                font-weight: 400;
                                padding: 1rem 0 0 2%;
                                margin: 0;
                                color: black;
                            }
                            main h3 {
                                font-size: 1.5rem;
                                font-weight: 400;
                                padding: 1rem 0 0 2%;
                                margin: 0;
                                color: black;
                            }
                            main figure {
                                width: 100%;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            main figure img {
                                width: 100%;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            main ul.weatherInfo {
                                padding-left: 2%;
                                margin: 2px;
                            }
                            main ul.weatherInfo li {
                                list-style-type: circle;
                                line-height: 160%;
                                margin-left: 20px;
                                font-size: 1.2rem;
                            }
                            main ul.weatherInfo li strong {
                                font-weight: 400;
                                color: #89a236
                            }
                            /*  FOOTER  */
                            footer {
                                margin: 1rem 0;
                                clear: both;
                                background-color: #89a236;
                            }
                            footer p {
                                text-align: center;
                                padding: 0.5em;
                                margin: 0;
                                color: black;
                                font-size: .75rem;
                            }
